body {
    background-image: url("/backg-navidad.jpeg");
}

main{
    min-height: 100vh;
}

#titulo-navbar{
    font-family: 'Dancing Script', cursive;
    color: green;
}

.art-navbar{
    font-family: 'Yeseva One', cursive;
    color: green;
}

a {
    text-decoration: none;
    color: black;
}

.footer{
    padding: 0;
    margin: 0;
    color: green;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
}