body {
    background-image: url("/assets/fondo-snowfl.svg");
    width: auto;
}

main{
    min-height: 100vh;
}

#titulo-navbar{
    font-family: 'Dancing Script', cursive;
    color: green;
}

.navbar-nav a{
    font-family: 'Yeseva One', cursive;
    color: green;
}

a {
    text-decoration: none;
    color: black;
}

.footer{
    padding: 0;
    margin: 0;
    color: green;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
}

.cont-titulo p{
    font-size: xx-large;
}

.card h5{
    font-family: 'Yeseva One', cursive;
}
.card:hover{
    transform: scale(1.1);
    color: black;
}